# Python-specific ignores
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env.local
.env.*.local
.env
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# Docker-specific ignores
.dockerignore
.docker/

# Version control
.git/
.gitignore

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
